.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal !important;
}

.swal2-html-container {
    line-height: normal !important;
}

.btnCreate:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(72, 187, 120, 0.4);
}

